[[source]]
name = "pypi"
url = "https://pypi.org/simple/"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
pep508 = "*"
pypi = "*"

[packages]
simpleqiwi = "*"
pytelegrambotapi = "*"
pymongo = "*"
pydevd = "*"
dnspython = "*"
json = "*"
pipfile = {editable = true,version = "*"}

[requires]
python_version = "3.7"
